node_modules/
plan-reader-marketplace/plugins/plan-reader/node_modules/
plan-reader-marketplace/plugins/plan-reader/.devdata/
plan-reader-marketplace/plugins/plan-reader/.devout.html
plan-reader-marketplace/plugins/plan-reader/.gstack-qa/
